[submodule "ipi"]
path = ipi
url = git@github.com:ulagbulag-village/ipi.git
[submodule "ipis"]
path = ipis
url = git@github.com:ulagbulag-village/ipis.git
[submodule "ipdis"]
path = ipdis
url = git@github.com:ulagbulag-village/ipdis.git
[submodule "ipiis"]
path = ipiis
url = git@github.com:ulagbulag-village/ipiis.git
[submodule "ipnis"]
path = ipnis
url = git@github.com:ulagbulag-village/ipnis.git
[submodule "ipqis"]
path = ipqis
url = git@github.com:ulagbulag-village/ipqis.git
[submodule "ipwis"]
path = ipwis
url = git@github.com:ulagbulag-village/ipwis.git
